*{
    margin: 0;
    padding: 0;
    font-family: serif;
    /* background-color: gray; */
}

.nave_div{
    width: 100%;
    height: 2.7rem;
    background-color: gray;
    display: flex;
    justify-content: right;
    text-align: left;


}

.nave_div .nave_ul{
    padding: 0 2rem 0 0;
    background-color: green;
    display: inline-flex;
    align-items: center;
    
}

.nave_div .nave_ul li {
    margin: 0;
    padding: .5rem;
    background-color: rgb(228, 30, 30);
    /* border: 2px solid red; */
    /* display: block; */
    list-style: none;
    text-decoration: none;

}

.nave_div .nave_ul li a{
    size: 15px;
    text-decoration: none;
}

/* #want{
    padding: .3rem;
    background-color: rgb(224, 35, 35);
    border: 8px solid rgb(224, 35, 35); 
    border-radius: .3rem;

} */
/* #job{
    padding: .3rem;
    background-color: rgb(224, 35, 35);
    border-radius: .3rem;
} */

.job_apply{
    margin-top: .5rem;
    display: flex;
    color: red;
    text-align: left;
    /* justify-content: left;  */
}

.job{
    justify-content: right;
    padding: 0%;
    margin: 2rem 0 0 0;
    width: 100%;
    height: 60vh;
    background-image: url(IMAGES/job_4.jpg);
    background-size: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    border: 2px solid slateblue;
}